:root{
  --main-back-color: #222;
  --second-back-color: #0F0F0F;
  --third-back-color: #151515;
  --main-phazon-color: #7CA7D8;
  --main-font-color: #fff;
  --main-font-fam: "Anta", sans-serif;
  --second-font-fam: "Russo One", sans-serif;
  --transition: 0.2s ease-out; 
  --border-radius: 20px;
  --paragraph-font-size: 1.2rem;
  --side-bar-dec-width: 25%;
  --main-padding: 15px;
  --side-nav-height: 12dvh;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--second-back-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/* -- HEADER START --*/
.header{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--main-back-color);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.header__wrapper{
  background-color: var(--second-back-color);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.header__shape{
  display: flex;
  justify-content: space-between;
}

.header__home-link{
  width: 50px;
  margin-left: 10px;
}

.header__home-img{
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 100px 0 var(--main-phazon-color));
  transform: translateY(-100px);
}

.header__navbar-btn{
  outline-color: transparent;
  border: none;
  background-color: transparent;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  background-image: url(images/icons/double-arrow-left.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: rotate var(--transition);
  z-index: 30;
}

.nav-btn-toggle{
  rotate: 180deg;
}
/* -- HEADER END --*/
/* -- NAVBAR START --*/
.navbar{
  width: 0;
  height: 100dvh;
  position: absolute;
  right: 0;
  top: 0;
  transition: width var(--transition);
  overflow: hidden;
  z-index: 20;
}

.appear{
  width: 100dvw;
}

.navbar__nav{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #2222228b;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
} 

.navbar__nav-item{
  display: flex;
  justify-content: center;
}

.navbar__link{
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  padding: 10px;
  background-color: var(--main-back-color);
  border-radius: var(--border-radius);
  filter: drop-shadow(0 2px 2px var(--second-back-color));
  transition: filter var(--transition);
}

.navbar__link:hover{
  filter: drop-shadow(0 2px 2px #7ca7d83f);
}

.navbar__item-image-container{
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: var(--second-back-color);
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70px;
  transition: width var(--transition), background var(--transition);
}

.navbar__link:hover .navbar__item-image-container, .navbar__link:active .navbar__item-image-container, .navbar__link:hover .navbar__item-image-container div{
  width: 100%;
  background: linear-gradient(90deg, var(--second-back-color) 30%, var(--main-back-color) 60%, #7ca7d83f 100%);
}

.navbar__link:hover .navbar__item-image{
  filter: drop-shadow(0 2000px 0 var(--main-phazon-color));
  transform: translateY(-2000px);
}

.navbar__link .navbar__item-image-container div{
  display: flex;
  align-items: center;
}

.navbar__item-name{
  position: absolute;
  right: 5%;
  color: var(--main-font-color);
  font-family: var(--main-font-fam);
  font-size: 1.2rem;
}
/* -- NAVBAR END -- */
/* ---------- MAIN CONTENT ---------- */
.main__intro, .main__game-database, .main__gallery, .main__beastiary{
  width: clamp(400px, 850px, 60%);
}

/* -- INTRODUCTION --*/
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 5rem;
}

.main__intro{
  height: 80dvh;
  border-radius: var(--border-radius);
  background-color: var(--main-back-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
  position: relative;
}

.main__intro h1{
  margin: 0;
  position: relative;
  margin-top: 1rem;
  margin-bottom: auto;
  font-family: var(--second-font-fam);
  line-height: 1em;
  font-size: 3rem;
  color: var(--main-font-color);
}

.main__intro h1::after{
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 1px var(--main-font-color);
  color: transparent;
}

.model{
  background-image: url(images/wallpapers/samus-aaran.png);
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main__intro-container{
  width: 90%;
  height: 50%;
  box-sizing: border-box;
  padding: 20px;
  background: #ffffff00;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid #6a666640;
  position: absolute;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  z-index: 3;
}

p{
  color: var(--main-font-color);
  font-family: var(--main-font-fam);
  font-size: var(--paragraph-font-size);
}

.main__btn{
  font-family: var(--main-font-fam);
  border: transparent;
  border-radius: var(--border-radius);
  background-color: var(--second-back-color);
  width: max-content;
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
  color: var(--main-font-color);
  filter: drop-shadow(0 2px 2px var(--second-back-color));
  transition: filter var(--transition), background var(--transition);
}

.main__intro-container button{
  margin-bottom: 20px;
}

.main__btn:hover{
  filter: drop-shadow(0 2px 2px #7ca7d8ab);
  background: linear-gradient(90deg, var(--second-back-color) 30%, var(--main-back-color) 60%, #7ca7d83f 100%);
}
/* -- IMAGE SLIDER --*/
h2{
  font-family: var(--main-font-fam);
  color: var(--main-font-color);
  margin-bottom: 1rem;
}

.main__slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.main__slider-images{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  position: relative;
  justify-content: center;
}

.main__slider-images::-webkit-scrollbar {
  display: none;
}

.slider-image{
  display: none;
}

.display-slide{
  display: block;
}

.slider-btn{
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 1.5rem;
  color: #7ca7d856;
  transition: opacity 0.2s linear;
}

.main__slider-wrapper:hover .slider-btn{
  opacity: 1;
}

.prev{
  background: linear-gradient(to right, #00000075 10%, transparent 100%);
}

.next{
  right: 0;
  background: linear-gradient(to left, #00000075 10%, transparent 100%);
}

.main__card-wrapper{
  display: none;
}

/* -- BEASTIARY --*/
.main__beastiary{
  display: flex;
  flex-direction: column;
  background-color: var(--main-back-color);
  border-radius: var(--border-radius);
  padding: var(--main-padding);
  box-sizing: border-box;
  position: relative;
}

.main__beastiary h2{
  margin: 0;
}

.main__beastiary img{
  width: 80%;
  align-self: center;
}

.main__beastiary button{
  align-self: end;
}

/* Main Gallery */
.main__gallery, .main__game-database{
  border-radius: var(--border-radius);
  padding: var(--main-padding);
  box-shadow: 0 4px 30px #0000001a;
  border: 1px solid #6a666640;
}

.main__gallery h2{
  margin: 0;
}

/* --------- END OF MAIN SECTION -------- */
/* -- FOOTER -- */
footer{
  border-top: 2px solid var(--main-font-color);
  margin-top: 50px;
  font-family: var(--main-font-fam);
  font-size: 0.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

footer div{
  display: none;
}

.footer__list{
  list-style: none;
  width: 70%;
  padding: 10px;
  margin:0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
  text-align: center;
}

.footer__list-item{
  width: 100%;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__list-item h3{
  color: var(--main-phazon-color);
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.footer__list-item p{
  margin: 0;
  font-size: 0.8rem;
}

.quick--links{
  display: none;
}

.footer__social-links img{
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px -200px 0 var(--main-font-color));
  transform: translateY(200px);
}

.legal--notes small a, .footer__sides a{
  text-decoration: none;
  color: var(--main-font-color);
}

.legal--notes small a:hover, .footer__sides a:hover{
  text-decoration: underline;
  color: var(--main-phazon-color);
}
/*-- END OF FOOTER */

/* -- MEDIA QUERIES --*/

/* Desktop */
@media screen and (min-width:1200px){

  .header{
    background-color: transparent;
    position: fixed;
    width: 100%;
  }

  .header__wrapper{
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .header__wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border: 51px solid var(--main-phazon-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 100%, 65% 40%, 35% 40%, 30% 100%, 0 50%);
  }

  .header__shape{
    background-color: var(--main-back-color);
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 100%, 65% 40%, 35% 40%, 30% 100%, 0 50%);
    justify-content: start;
    align-items: center;
  }

  .header__home-link{
    width: 4.5rem;
    height: 4.5rem;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: var(--second-back-color);
    margin-left: 25%;
  }

  .header__shape button{
    display: none;
  }

  .header__navbar-btn{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 45%;
    left: 80px;
    rotate: 90deg;
  }

  .nav-btn-toggle{
    rotate: 180deg;
  }

  /* Main intro section */
  .main__intro, .main__game-database, .main__beastiary, .main__gallery{
    width: 60%;
    box-sizing: border-box;
  }


  .main__intro{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin: 0;
  }

  .main__intro::after{
    content: '';
    position: absolute;
    width: 100dvw;
    height: 2px;
    bottom: -2px;
    background-color: var(--main-phazon-color);
  }

  .main__intro::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    border-radius: 50%;
    background-color: var(--main-phazon-color);
  }
  
  .main__intro h1{
    width: min-content;
    margin: 0;
    position: relative;
    margin-top: auto;
    margin-right: auto;
    font-family: var(--second-font-fam);
    line-height: 1em;
    font-size: 10rem;
    color: var(--main-font-color);
  }
  
  .main__intro h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 1px var(--main-font-color);
    color: transparent;
  }
  
  .model{
    background-image: url(images/wallpapers/samus-aaran.png);
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: 10% -20%;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
  }

  .main__intro-container{
    width: 40%;
    height: 70%;
    box-sizing: border-box;
    padding: 20px;
    background: #ffffff00;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid #6a666640;
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    z-index: 1;
  }
  
  .main__intro-container h2{
    color: var(--main-phazon-color);
    font-size: 2rem;
  }

  .main__intro-container p{
    color: var(--main-font-color);
    font-family: var(--main-font-fam);
    font-size: var(--paragraph-font-size);
  }
  
  .main__intro-container button{
    background-color: var(--main-font-color);
    color: var(--second-back-color);
    filter: drop-shadow(0 2px 2px var(--main-font-color));
  }

  .main__intro-container button:hover{
    filter: drop-shadow(0 2px 2px #7ca7d8ab);
    background: linear-gradient(90deg, var(--main-font-color) 30%, #c5c5c5 60%, #7ca7d83f 100%);
  }

  /* First card slider */
  .main__game-database .main__slider-wrapper{
    display: none;
  }

  .main__game-database h2{
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
  }

  .main__card-wrapper {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .card {
    width: 5rem;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: end;
    transition: .3s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 20px -5px #6a666640;
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    position: relative;
  }

  .card:hover{
    transform: scale(1.05);
  }

  .card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: brightness(20%);
  }

  .card > .row {
    width: 100%;
    height: 30%;
    font-family: var(--main-font-fam);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    z-index: 2;
    transition: background-color var(--transition);
  }

  .card > .row > .icon {
    background: var(--second-back-color);
    border-radius: 50%;
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icon::after{
    content: attr(data-content);
    position: absolute;
    transition: background-color var(--transition), content var(--transition);
  }

  .card > .row > .description {
    display: none;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    min-width: 85%;
    height: 100%;
    transform: scaleX(0);
    transition: all .3s ease;
    color: var(--main-font-color);
  }

  .description p {
    padding: 0;
    margin: 0;
  }

  .description h4 {
    text-transform: uppercase;
    margin: 5px 0;
  }

  input {
    display: none;
  }

  input:checked + label {
    width: 600px;
    cursor: auto;
  }

  input:checked + label:hover{
    transform: scale(1);
  }

  input:checked + .card::after {
    backdrop-filter: brightness(100%);
  }

  input:checked + .card > .row{
    background-color: #00000090;
    /* background: linear-gradient(to bottom, transparent 20%, #000000 50%); */
    justify-content: space-evenly;
  }

  input:checked + .card > .row:hover{
    background-color: #000000a1;
  }

  input:checked + .card > .row:hover > .icon::after{
    content: "GO!";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    background-color: inherit;
    color: var(--main-phazon-color);
  }

  input:checked + .card > .row > .icon{
    align-self: center;
  }

  input:checked + .card > .row > .description {
    display: flex;
    transform: scaleX(1);
  }

  .card[for="c1"] {
    background-image: url('images/wallpapers/metroid1.jpg');
  }

  .card[for="c2"] {
    background-image: url('images/wallpapers/metroid2.jpg');
  }

  .card[for="c3"] {
    background-image: url('images/wallpapers/metroid3.png');
  }

  .card[for="c4"] {
    background-image: url('images/wallpapers/metroid-fusion.jpg');
  }

  .card[for="c5"] {
      background-image: url('images/wallpapers/metroid-prime-remastered-samus.jpg');
  }
  .card[for="c6"] {
      background-image: url('images/wallpapers/mp2.jpg');
  }
  .card[for="c7"] {
      background-image: url('images/wallpapers/metroid-prime-3-wallpaper.png');
  }

  .card[for="c8"] {
    background-image: url('images/wallpapers/mp4.jpg');
  }

  .card[for="c9"] {
      background-image: url('images/wallpapers/metroid-otherM.jpg');
  }

  .card[for="c10"] {
    background-image: url('images/wallpapers/metroid-dread.jpg');
  }

  /* Main beastiary */
  .main__beastiary{
    height: 80dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main__beastiary-main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .main__beastiary-main-content h2{
    text-align: center;
  }

  .main__beastiary-main-content button{
    align-self: center !important;
  }

  .main__beastiary-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 14.5rem);
    justify-items: center;
    gap: 0.5rem;
  }

  .main__beastiary-grid a{
    min-width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--second-back-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
  }

  .main__beastiary-grid a:first-child{
    grid-column: span 2;
  }

  .main__beastiary-grid a:hover > img{
    width: 110%;
    height: 110%;
  }

  .main__beastiary-grid img{
    width: 100%;  
    height: 100%;
    object-fit: contain;
    transition: height var(--transition), width var(--transition);
  }

  /* Main Gallery */
  .main__gallery h2{
    text-align: center;
  }

  /*Side Nav-bar*/
  .navbar{
    position: fixed;
    width: 120px;
    height: 70dvh;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--border-radius);
    background-color: var(--main-back-color);
    overflow: visible;
    transition: transform var(--transition);
    transform-origin: bottom;
  }

  .appear{
    transform: translateY(-50%) scaleY(0);
  }

  .navbar__nav{
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
  }
  
  .navbar__nav-item{
    width: 5rem;
    height: 5rem;
  }

  .navbar__link{
    padding: 0;
    width: 100%;
    border-radius: 50%;
    position: relative;
  }

  .navbar__item-image-container, .navbar__item-image-container div{
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .navbar__item-image{
    width: 50%;
    height: 50%;
  }

  .navbar__item-image-container div{
    position: absolute;
    left: 30%;
    justify-content: end;
    width: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: width var(--transition), background var(--transition);
    z-index: -1;
  }

  .navbar__link:hover .navbar__item-image-container div{
    width: 320px;
  }

  .navbar__item-image-container div span{
    display: block;
    width: max-content;
  }

  .navbar__item-name{
    display: none;
  }

  .side-navbar{
    position: sticky;
    background-color: transparent;
    width: 100%;
    height: var(--side-nav-height);
    bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .left, .right{
    width: var(--side-bar-dec-width);
    height: 100%;
    background-color: var(--main-back-color);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    position: relative;
  }

  .right{
    transform: rotateY(180deg);
    translate: 0 1px;
  }

  /*footer nav section */
  .footer{
    --inclination: 18%;
    margin-top: 0;
    height: 150px;
    justify-content: space-between;
    border: none;
  }

  .footer__sides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: var(--side-bar-dec-width);
    max-width: var(--side-bar-dec-width);
    background-color: var(--main-back-color);
    position: relative;
  }

  .footer__sides::after{
    content: '';
    position: absolute;
    background-color: inherit;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    width: var(--inclination);
    height: 100%;
    right: calc(var(--inclination)*-0.99);
  }

  .footer__sides:last-child::after{
    left: calc(var(--inclination)*-0.99);
    transform: rotateY(180deg);
  }

  .footer__sides h3{
    color: var(--main-phazon-color);
  }

  .footer__sides p{
    width: 70%;
    font-size: 0.8rem;
  }

  .footer__sides div{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
  }

  .footer__list{
    max-width: calc(100% - var(--side-bar-dec-width)*2 - var(--inclination)*0.66);
    padding: 0;
    gap: 20px;
  }
  
  .footer__list-item:first-child, .footer__list-item:nth-child(2){
    display: none;
  }

  .contact--us{
    height: 50px;
    outline: 1px solid red;
  }

  .footer__socials-container a{
    width: min-content;
    outline: 1px solid red;
  }
}

/* -- ANIMATIONS --*/

