:root{
  --main-back-color: #222;
  --second-back-color: #111;
  --third-back-color: #151515;
  --main-phazon-color: #7CA7D8;
  --main-font-color: #fff;
  --main-font-fam: "Anta", sans-serif;
  --second-font-fam: "Russo One", sans-serif;
  --transition: 0.2s ease-out; 
  --border-radius: 20px;
  --paragraph-font-size: 1.2rem;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--second-back-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/* -- HEADER START --*/
.header{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--main-back-color);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.header__wrapper{
  background-color: var(--second-back-color);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__home-link{
  width: 50px;
  margin-left: 10px;
}

.header__home-img{
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 100px 0 var(--main-phazon-color));
  transform: translateY(-100px);
}

.header__navbar-btn{
  outline-color: transparent;
  border: none;
  background-color: transparent;
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
  background-image: url(images/icons/double-arrow-left.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: rotate var(--transition);
  z-index: 30;
}

.nav-btn-toggle{
  rotate: 180deg;
}
/* -- HEADER END --*/
/* -- NAVBAR START --*/
.navbar{
  width: 0;
  height: 100dvh;
  position: absolute;
  right: 0;
  top: 0;
  transition: width var(--transition);
  overflow: hidden;
  z-index: 20;
}

.appear{
  width: 100dvw;
}

.navbar__nav{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #2222228b;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
} 

.navbar__nav-item{
  display: flex;
  justify-content: center;
}

.navbar__link{
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  padding: 10px;
  background-color: var(--main-back-color);
  border-radius: var(--border-radius);
  filter: drop-shadow(0 2px 2px var(--second-back-color));
  transition: filter var(--transition);
}

.navbar__link:hover{
  filter: drop-shadow(0 2px 2px #7ca7d83f);
}

.navbar__item-image-container{
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: var(--second-back-color);
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70px;
  transition: width var(--transition), background var(--transition);
}

.navbar__link:hover .navbar__item-image-container, .navbar__link:active .navbar__item-image-container{
  width: 100%;
  background: linear-gradient(90deg, var(--second-back-color) 30%, var(--main-back-color) 60%, #7ca7d83f 100%);
}

.navbar__link:hover .navbar__item-image{
  filter: drop-shadow(0 2000px 0 var(--main-phazon-color));
  transform: translateY(-2000px);
}

.navbar__item-name{
  position: absolute;
  right: 5%;
  color: var(--main-font-color);
  font-family: var(--main-font-fam);
  font-size: 1.2rem;
}
/* -- NAVBAR END -- */
/* ---------- MAIN CONTENT ---------- */
.main__intro, .main__game-database, .main__gallery, .main__beastiary{
  width: clamp(400px, 850px, 60%);
}

/* -- INTRODUCTION --*/
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__intro{
  height: 80dvh;
  border-radius: var(--border-radius);
  background-color: var(--main-back-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
  position: relative;
}

.main__intro h1{
  margin: 0;
  position: relative;
  margin-top: 1rem;
  margin-bottom: auto;
  font-family: var(--second-font-fam);
  line-height: 1em;
  font-size: 3rem;
  color: var(--main-font-color);
}

.main__intro h1::after{
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  z-index: 2;
  -webkit-text-stroke: 1px var(--main-font-color);
  color: transparent;
}

.model{
  background-image: url(images/wallpapers/samus-aaran.png);
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main__intro-container{
  width: 90%;
  height: 50%;
  box-sizing: border-box;
  padding: 20px;
  background: #ffffff00;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid #6a666640;
  position: absolute;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  z-index: 3;
}

p{
  color: var(--main-font-color);
  font-family: var(--main-font-fam);
  font-size: var(--paragraph-font-size);
}

.main__btn{
  font-family: var(--main-font-fam);
  border: transparent;
  border-radius: var(--border-radius);
  background-color: var(--second-back-color);
  width: max-content;
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
  color: var(--main-font-color);
  filter: drop-shadow(0 2px 2px var(--second-back-color));
  transition: filter var(--transition), background var(--transition);
}

.main__intro-container button{
  margin-bottom: 20px;
}

.main__btn:hover{
  filter: drop-shadow(0 2px 2px #7ca7d8ab);
  background: linear-gradient(90deg, var(--second-back-color) 30%, var(--main-back-color) 60%, #7ca7d83f 100%);
}
/* -- IMAGE SLIDER --*/
h2{
  font-family: var(--main-font-fam);
  color: var(--main-font-color);
  margin-bottom: 1rem;
}

.main__slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.main__slider-images{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  position: relative;
  justify-content: center;
}

.main__slider-images::-webkit-scrollbar {
  display: none;
}

.slider-image{
  display: none;
}

.display-slide{
  display: block;
}

.slider-btn{
  position: absolute;
  opacity: 0;
  top: 0;
  height: 100%;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size: 1.5rem;
  color: #7ca7d856;
  transition: opacity 0.2s linear;
}

.main__slider-wrapper:hover .slider-btn{
  opacity: 1;
}

.prev{
  background: linear-gradient(to right, #00000075 10%, transparent 100%);
}

.next{
  right: 0;
  background: linear-gradient(to left, #00000075 10%, transparent 100%);
}

/* -- BEASTIARY --*/
.main__beastiary{
  display: flex;
  flex-direction: column;
  background-color: var(--main-back-color);
  border-radius: var(--border-radius);
  padding: 15px;
  margin-top: 30px;
  box-sizing: border-box;
}

.main__beastiary h2{
  margin: 0;
}

.main__beastiary img{
  width: 80%;
  align-self: center;
}

.main__beastiary button{
  align-self: end;
}

/* --------- END OF MAIN SECTION -------- */
/* -- FOOTER -- */
footer{
  border-top: 2px solid var(--main-font-color);
  margin-top: 50px;
  font-family: var(--main-font-fam);
  font-size: 0.8rem;
  overflow: hidden;
}

.footer__list{
  list-style: none;
  padding: 10px;
  margin:0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: var(--main-font-color);
  text-align: center;
}

.footer__list-item{
  font-size: 0.8rem;
}

.footer__list-item h3{
  color: var(--main-phazon-color);
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.footer__list-item p{
  margin: 0;
  font-size: 0.8rem;
}

.quick--links{
  display: none;
}

.footer__social-links img{
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px -200px 0 var(--main-font-color));
  transform: translateY(200px);
}

.legal--notes small a{
  text-decoration: none;
  color: var(--main-font-color);
}

.legal--notes small a:hover{
  text-decoration: underline;
  color: var(--main-phazon-color);
}
/*-- END OF FOOTER */

/* -- MEDIA QUERIES --*/

/* Desktop */
@media screen and (min-width:1200px){
  .header{
    background-color: transparent;
  }

  .header-desk-container {
    position: relative;
    width: 100%;
    height: 100px;
  }
  
  .header__desktop {
    background-color: var(--main-back-color);
    width: 100%;
    height: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 65% 100%, 60% 40%, 40% 40%, 35% 100%, 0 50%);
  }
  
  .header-desk-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 52px solid var(--main-phazon-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 65% 100%, 60% 40%, 40% 40%, 35% 100%, 0 50%);
  }

  .header__wrapper{
    display: none;
  }

  .nav-container{
    background-color: var(--main-back-color);
    width: 100%;
    height: 100px;
    z-index: 40;
    position: fixed;
    bottom: 0;
  }
}

/* -- ANIMATIONS --*/
@keyframes pinga {
  from{
    opacity: 1;
  }
  to{
    opacity: 0.1;
  }
}
